@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Solway:wght@300;400;500;700;800&display=swap');

@import "tailwindcss";

@theme {
  /* color */
  --color-primaryText: #474747;
  --color-gray: #8c8fa6;
  --color-linkLight: #b8bbd2;
  --color-linkDark: #474747;
  --color-borderLight: #f5f6ff;
  --color-bermuda: #78dcca;
  --color-bermuda: #78dcca;

  /* font */
  --font-poppins: "Poppins", sans-serif;
  --font-gaegu: "Gaegu", sans-serif;
  --font-solway: "Solway", serif;

  /* animation */
  --animate-jitterUp: jitterUp forwards 2.5s ease-in-out;
  --animate-jitterDown: jitterDown 2.5s ease-in-out;
  --animate-linkItemUp: linkItemUp forwards 1.5s ease-in-out;
  --animate-linkItemDown: linkItemDown 1.5s ease-in-out;
  @keyframes linkItemUp {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(-11deg) scale(1.18);
    }
    50% {
      transform: rotate(-9deg) scale(1.09);
    }
    75% {
      transform: rotate(-10.5deg) scale(1.12);
    }
    100% {
      transform: rotate(-10deg) scale(1.1);
    }
  }
  @keyframes linkItemDown {
    0% {
      transform: rotate(-10deg) scale(1.1);
    }
    25% {
      transform: rotate(1deg) scale(0.96);
    }
    50% {
      transform: rotate(-0.5deg) scale(1.02);
    }
    75% {
      transform: rotate(0.5deg) scale(0.98);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }
  @keyframes jitterDown {
    0% {
      transform: translateY(-7.5px);
    }
    17% {
      transform: translateY(3.5px);
    }
    33% {
      transform: translateY(-1.5px);
    }
    50% {
      transform: translateY(2px);
    }
    68% {
      transform: translateY(-1px);
    }
    83% {
      transform: translateY(0.5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes jitterUp {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-9px);
    }
    40% {
      transform: translateY(-4px);
    }
    55% {
      transform: translateY(-8.5px);
    }
    70% {
      transform: translateY(-7px);
    }
    85% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(-7.5px);
    }
  }
}

html {
  scroll-behavior: smooth;
}

.max-width {
  width: 100%;
  max-width: 720px;
}
